<div align="center">
  <h1>Layout rendered</h1>
  <div id="takla-async">
    <div class="loading">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <p>{{currentDate}}</p>
</div>
